 <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <%= link_to "Home", root_path, Class: "nav-link" %>
          <%= link_to "About Me", about_me_path, Class: "nav-link" %>
          <%= link_to "Contact", contact_path, Class: "nav-link" %>
          <%= link_to "Blog", blogs_path, Class: "nav-link" %>
          <%= link_to "Portfolio", portfolios_path, Class: "nav-link" %>
           <%= login_helper 'nav-link' %>
          </nav>
      </div>
    </div>
    
    